@font-face {
  font-family: 'windows';
  font-style: normal;
  font-weight: 300;
  src: url("windows.woff") format('woff');
}
html, body {
	height: 100%;
}

body {
	background: url(images/straws.png) repeat;
	margin: 0;
	font-family: ubuntu;
	overflow: hidden;
	color:#000;
}

body:before { 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

span {
	display: inline-block;
}

a {
	color: #ffffff;
}


#menu {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

.element {
	width: 140px;
	height: 180px;
	box-shadow: 0px 0px 20px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	cursor: default;
}

.element:hover {
	box-shadow: 0px 0px 20px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}

.element .number {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
	color: rgba(127,255,255,0.75);
}

.element .symbol {
	position: absolute;
	top: 40px;
	width: 100%;
	font-size: 70px;
	text-align: center;
	color: rgba(255,255,255,0.75);
	font-weight: bold;

	-webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	-moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	-o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	-ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
}

.element .details {
	position: absolute;
	top: 125px;
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: rgba(127,255,255,0.75);
}

button {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 1px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover {
	background-color: rgba(0,255,255,0.5);
}
button:active {
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}

.search{
	position:fixed;
	right:10px;
	top:10px;
}
.header{
	position:fixed;
	top:0px;
	width:100%;
	height:60px;
	opacity:0.9;
	color:#fff;
   	/*-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
}
.header .logo{
	z-index:100;
	cursor:pointer;
	text-align:center;
	width:0px;
	height: 0px;
	border-style: solid;
	border-width: 100px 100px 0 100px;
	border-color: #a4a4a4 transparent transparent transparent;
}
.btn-success{

   	-webkit-box-shadow: 0px 0px 10px green;
   	-moz-box-shadow: 0px 0px 10px  green;
   	box-shadow: 0px 0px 10px green;
}
.btn-primary{
	color:#000;
	background:#eee;
   	-webkit-box-shadow: 0px 0px 10px #0074cc;
   	-moz-box-shadow: 0px 0px 10px  #0074cc;
   	box-shadow: 0px 0px 10px #0074cc;
}
.header .button1{
	margin-left:190px;
	margin-top:-190px;
}
.header .button2{
	margin-left:160px;
	margin-top:-170px;
}
.header .button3{
	margin-left:130px;
	margin-top:-150px;
}
.header .button4{
	margin-left:100px;
	margin-top:-130px;
}

#leftTextbox {
    padding: 2px 18px 2px 18px;
    width:180px;
	color:#000;
    border-top-left-radius:1000px;
    border-bottom-right-radius:1000px;
}
.leftButton{
    	border-top-left-radius:100px;
    	border-bottom-right-radius:100px;
	width:100px;
	height:12px;
	padding: 2px 20px 5px 20px;
}
.rightButton{
    	border-bottom-left-radius:100px;
    	border-top-right-radius:100px;
	width:150px;
	height:12px;
	padding: 2px 20px 5px 20px;
}

.footer{
	padding-top:10px;
	position:fixed;
	bottom:0px;
	width:100%;
	height:20px;
	background:#555555;
	opacity:0.9;
	color:#fff;
   	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.footer .social{
	position:fixed;
	bottom:5px;
	left:5px;
	border: 1px solid #ffffff;
}
/*
usage:
<div class="ribbon-wrapper-green"><div class="ribbon-green">NEWS</div></div>
*/
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/* ripple efffect*/
.ripple,.ripple:before,.ripple:after {
	display:block;
	border-radius:2px;
	width:2px;
	height:2px;
	-webkit-animation:rip 10s infinite;
	-moz-animation:rip 10s infinite;
}
.ripple {
	position:absolute;
	z-index:-1;
	top:10px;
	left:35px;
}
.ripple:before,.ripple:after {
	content:'';
	position:absolute;
}
.ripple:before {-webkit-animation-delay:.2s;-moz-animation-delay:.2s;top:5px;left:25px;}
.ripple:after {-webkit-animation-delay:.8s;-moz-animation-delay:.8s;top:25px;left:0;}
@-webkit-keyframes rip 
{
0%  {
  box-shadow:0 0 0 0 transparent,
  box-shadow:0 0 0 0 transparent,
}
5%  {
  box-shadow:0 0 0 0 #45c2c5,
	     0 0 0 0 rgba(255,255,255,0.5),
}
100% {
  box-shadow:0 0 40px 100px #45c2c5,
	     0 0 10px 110px transparent,
}
}
@-moz-keyframes rip 
{
0%  {
  box-shadow:0 0 0 0 transparent,
	     0 0 0 0 transparent,
}
5%  {
  box-shadow:0 0 0 0 #45c2c5,
	     0 0 0 0 rgba(255,255,255,0.5),
}
100% {
  box-shadow:0 0 40px 100px #45c2c5,
	     0 0 10px 110px transparent,
}
}
