@font-face {
	font-family: 'windows';
	font-style: normal;
	font-weight: 300;
	letter-spacing: 10px;
	src: url("windows.woff") format('woff');
}

@font-face {
	font-family: 'nexus';
	font-style: normal;
	font-weight: 300;
	letter-spacing: 10px;
	src: url("nexus.woff") format('woff');
}

@font-face{
	font-family: 'acens';
	font-style: normal;
  	font-weight: 300;
  	letter-spacing: 10px;
	src: url('Acens.ttf');
}

html, body {
	height: 100%;
}

body {
	background: url(images/3QNCOe.jpg) repeat;
	margin: 0;
	font-family: nexus;/*ubuntu;*/
	overflow: hidden;
	color:#000;
}

body:before { 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

span {
	display: inline-block;
	font-family: nexus;
	/*background:rgba(255,255,255,0.7);
	font-size: 20px;
	line-height: 120%;
	padding: 10px;*/
}

a {
	color: #777777;

}


#menu {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

.element {
	width: 140px;
	height: 180px;
	box-shadow: 0px 0px 20px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	cursor: default;
}

.element:hover {
	box-shadow: 0px 0px 20px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}

.element .number {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 20px;
	color: rgba(127,255,255,0.75);
}

.element .symbol {
	position: absolute;
	top: 40px;
	width: 100%;
	font-size: 70px;
	text-align: center;
	color: rgba(255,255,255,0.75);
	font-weight: bold;

	-webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	-moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	-o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	-ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
	filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
}

.element .details {
	position: absolute;
	top: 125px;
	width: 100%;
	font-size: 18px;
	text-align: center;
	color: rgba(127,255,255,0.75);
}

button {
	color: #222;
	background: transparent;
	/*outline: 1px solid rgba(127,127,127,0.75);*/
	border: 2px solid rgba(127,127,127,0.75);
	height: 140px;
	width: 140px;
	border-radius:50%;
	padding: 0px 0px;
	cursor: pointer;
	font-size: 16px;

	transition-property:background;
	-moz-transition-property: background; /* Firefox 4 */
	-webkit-transition-property:background; /* Safari and Chrome */
	-o-transition-property:background; /* Opera */

	transition-duration: 0.5s;
	-moz-transition-duration:0.5s; /* Firefox 4 */
	-webkit-transition-duration: 0.5s; /* Safari and Chrome */
	-o-transition-duration: 0.5s; /* Opera */

   	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	box-shadow: 0px 0px 10px rgba(0,0,0,.8);


}
button:hover {
	color: #fff;
	background-color: rgba(60,60,60,0.75);
   	-webkit-box-shadow: 0px 0px 10px #000;
   	-moz-box-shadow: 0px 0px 10px #000;
   	box-shadow: 0px 0px 10px #000;
}
button:active {
	color: #000;
	background-color: rgba(200,200,200,0.75);
}

.pull-right{
	position:fixed;
	top:5px;
	right:15px;
}
.quickNav{
	position:fixed;
	top:0px;
	width:100%;
	vertical-align: center;
}
.quickNav div{
	overflow:hidden;
	width:16px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	height:16px;
	opacity:0.9;
	color:#fff;
	background:rgba(0,0,0,0.3);
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	transition-property:width, height;
	-moz-transition-property: width, height; /* Firefox 4 */
	-webkit-transition-property:width, height; /* Safari and Chrome */
	-o-transition-property:width, height; /* Opera */

	transition-duration: 0.5s;
	-moz-transition-duration:0.5s; /* Firefox 4 */
	-webkit-transition-duration: 0.5s; /* Safari and Chrome */
	-o-transition-duration: 0.5s; /* Opera */
}
.quickNav div:hover{
	width:75%;
	height:60px;
}
.quickNav i{
	color:#fff;
	padding:0px;
}
.quickNav b{
	opacity:0.8;
	cursor:pointer;
	transition-property:opacity;
	-moz-transition-property:opacity ; /* Firefox 4 */
	-webkit-transition-property:opacity; /* Safari and Chrome */
	-o-transition-property:opacity; /* Opera */

	transition-duration: 0.5s;
	-moz-transition-duration:0.5s; /* Firefox 4 */
	-webkit-transition-duration: 0.5s; /* Safari and Chrome */
	-o-transition-duration: 0.5s; /* Opera */
}
.quickNav b:hover{
	opacity:1;
}

.header{
	position:fixed;
	top:0px;
   	/*-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
}
.logo{
	position:fixed;
	left:0px;
	top:0px;
	z-index:100;
	cursor:pointer;
	/*text-align:center;*/
	/*width:0px;*/
	/*height: 0px;*/
	/*border-style: solid;*/
	/*border-width: 60px 60px 0 60px;*/
	/*border-color: #a4a4a4 transparent transparent transparent;*/
}
.accountSettings{
	margin-right:100px;
	padding-left:10px;
	padding-right:10px;
}
.colorless{
	background:rgba(0,0,0,0);
}
.dropdown li{
	cursor:pointer;
}
.header .button1{
	margin-left:190px;
	margin-top:-190px;
}
.header .button2{
	margin-left:160px;
	margin-top:-170px;
}
.header .button3{
	margin-left:130px;
	margin-top:-150px;
}
.header .button4{
	margin-left:100px;
	margin-top:-130px;
}

#searchBox {
	margin-top:6px;
    padding: 3px 18px 3px 18px;
    width:165px;
	color:#000;
    border-top-left-radius:1000px;
    border-bottom-right-radius:1000px;
}
.leftButton{
    	border-top-left-radius:100px;
    	border-bottom-right-radius:100px;
	width:100px;
	height:12px;
	padding: 2px 20px 5px 20px;
}
.rightButton{
    	border-bottom-left-radius:100px;
    	border-top-right-radius:100px;
	width:150px;
	height:12px;
	padding: 2px 20px 5px 20px;
}
.btn-group a{
	background: rgba(0,0,0,0);
}

.footer{
	padding-top:10px;
	position:fixed;
	bottom:0px;
	width:100%;
	height:20px;
	background:#000008;
	opacity:0.9;
	color:#fff;
   	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.footer .social{
	position:fixed;
	bottom:5px;
	right:5px;
}

#menu button{
	width:100px;
	height: 50px;
	border-radius:30%;
}
.loading{
	color:#fff;
	padding-top:200px;
	padding-left: 100px;
	z-index:200;
	width:3000px;
	height:3000px;
	position:fixed;
	top:0px;
	background:#000;
}
/*img{
   	-webkit-box-shadow: 0px 0px 15px #000;
   	-moz-box-shadow: 0px 0px 15px #000;
   	box-shadow: 0px 0px 15px #000;
}*/
#allCommittees{
	color:#555;
}

/**,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 30px 150px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(5) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #1abc9c;
}